/* Arlina Post Area */
.post {overflow:hidden;}
.post-info{background:#fff;display:block;color:#666;font-style:italic;line-height:1.6em;font-size:13px;padding:10px 15px;border-bottom:1px solid rgba(0,0,0,0.14);border-top:1px solid rgba(0,0,0,0.14)}
.post-info a{position:relative;color:#2F363C;padding:0 10px 0 0;font-style:normal;font-weight:700;}
.post-info a:hover{text-decoration:underline;}
.author-info img.avatar-photo1{background:rgba(0,0,0,0.1);height:28px;width:28px;margin:0 7px 0 0;border-radius:100%}
.post-timestamp,.author-info,.comment-info,.label-info{padding:0}
.post-body p{margin:0}
  .post-body h2, .post-body h3, .post-body h4, .post-body h5 {margin-top:20px}
.post-timestamp {padding:0;}
.post-body img {height:auto;margin-bottom:2px;opacity:1;transition:all .6s ease;}
.post-body img:hover {opacity:0.97;}
.post-body a.img,.post-body .separator a {margin-left:0!important;margin-right:0!important;}
h1.post-title.entry-title,h2.post-title.entry-title{color:#2F363C;padding:15px;font-size:24px;margin:0}
.label-info{position:relative;display:inline-block;overflow:hidden;margin:15px 0 0 0;padding:0 5px 0 0}
.label-info a{float:left;height:24px;line-height:24px;position:relative;font-size:12px;margin-left:12px;padding:0 10px;background:rgba(0,0,0,0.25);color:#fff;text-decoration:none;border-bottom-right-radius:3px;border-top-right-radius:3px;}
.label-info a:before{content:&quot;&quot;;float:left;position:absolute;top:0;left:-12px;width:0;height:0;border-color:transparent rgba(0,0,0,0.25) transparent transparent;border-style:solid;border-width:12px 12px 12px 0}
.label-info a:after{content:&quot;&quot;;position:absolute;top:10px;left:-1px;float:left;width:4px;height:4px;border-radius:2px;background:#fff;transition:all .3s;}
.label-info a:hover{background:#2F363C;}.label-info a:hover:before{border-color:transparent #2F363C transparent transparent;}
.wa-info {display:inline-block;margin:10px 0 0 0;}
.bottomshare{display:block;padding:0 20px}
/* Arlina Post Navigation */
#blog-pager-newer-link,#blog-pager-older-link{font-size:100%}
.blog-pager-older-link,.home-link,.blog-pager-newer-link{padding:0}
.halaman{margin:auto;padding:0;border-top:1px solid rgba(0,0,0,0.08);}
.halaman-kanan,.halaman-kiri{color:#141924;background:0 0;width:50%;position:relative;margin:0}
.halaman-kiri{background:#fff;width:50%;float:left;margin:0;text-align:left;color:#333;padding:20px 20px 20px 30px;height:72px;border-right:1px solid rgba(0,0,0,0.08);}
.halaman-kanan{background:#fff;width:50%;float:right;margin:0;text-align:right;color:#333;padding:20px 30px 20px 20px;height:72px}
.halaman-kanan:hover,.halaman-kiri:hover{background:#f14b4b;color:rgba(255,255,255,.8);}
.halaman-kanan:hover a,.halaman-kiri:hover a{color:rgba(255,255,255,.8);}
.halaman-kanan a,.halaman-kiri a{color:#333;font-size:14px;font-weight:500;line-height:1.3em;transition:initial}
.current-pageleft,.current-pageright,.halaman-kanan a,.halaman-kiri a{font-size:14px;font-family:Roboto,Arial,sans-serif;font-weight:700;background:transparent;text-decoration:none;line-height:normal;color:#333;transition:initial}
.halaman-kanan a:hover,.halaman-kanan:hover .pager-title-left,.halaman-kiri a:hover,.halaman-kiri:hover .pager-title-left,.halaman-kiri:hover .current-pageleft,.halaman-kanan:hover .current-pageright{color:rgba(255,255,255,.8);}
#blog-pager,.isihalaman-kanan,.isihalaman-kiri{margin:0}
.panahkanan,.panahkiri{position:absolute;top:50%;margin-top:-8px}
.panahkiri{left:10px}
.panahkanan{right:10px}
.comments-content {display:block;position:relative;margin-top:20px;}
/* Arlina Related Post */
#related-post {margin:10px 0 0 0;padding:0;}
#related-post h4{color:#666;background-color:#F7F6F6;border-left:3px solid #bdc3c7;padding:15px 0;font-size:20px;margin:0 0 20px 0;padding-left:8px;line-height:1em}
#related-post h4 span{color:#222;padding:6px;display:inline-block;vertical-align:middle}
.relhead {background:#fff;font-size:100%;font-weight:normal;line-height:150%;overflow:hidden;padding:10px 0;}
ul#related-summary {margin:0;padding:0 15px;}
ul#related-summary li{position:relative;float:left;list-style:none outside none;margin:0 5px 15px 5px;padding:0;overflow:hidden;height:180px;width:31.6%}
ul#related-summary li img{background-color:#f1f1f1;width:100%;height:auto;max-width:100%;margin:0 auto;vertical-align:middle;transition:all 1s ease-out}
ul#related-summary li img:hover {opacity:0.96;}
ul#related-summary li a.relinkjdulx{color:#999;display:block;font-size:12px;font-weight:400;line-height:normal;overflow:hidden;text-align:left;padding:10px 10px 10px 0}
ul#related-summary li a.relinkjdulx:hover{color:#666;text-decoration:underline}
.overlayb {max-height:140px;overflow:hidden;}
/* Share Button */
.sharede,.sharebrow{position:relative;display:inline-block;}
.sharebrow{margin:40px auto 0 auto;}
.sharebrow a.fb,.sharebrow a.gp,.sharebrow a.tw,.sharebrow span.pl{text-decoration:none!important;display:inline-block;margin:0 5px 5px 0;font-weight:400;border-radius:2px;color:#fff;text-shadow:none;padding:6px 16px;opacity:1;transition:all .3s}
.sharebrow a.gp {background:#f20000;}
.sharebrow a.fb {background:#516ca4;}
.sharebrow a.tw {background:#00baff;}
.sharebrow span.pl {background:#ff6600;}
.fbtea,.gotea,.plustea,.twtea{font-size:13px!important;vertical-align:middle}
.sharebrow a.fb:hover,.sharebrow a.gp:hover,.sharebrow a.tw:hover,.sharebrow span.pl:hover{color:#fff;opacity:.9}
.sharebrow a.fb:active,.sharebrow a.gp:active,.sharebrow a.tw:active,.sharebrow span.pl:active{box-shadow:inset 0 1px 0 rgba(0,0,0,.16)}
span.pl{color:green;cursor:pointer}
.dropdown-menu{position:absolute;bottom:100%;left:0;z-index:99;float:left;min-width:100px;padding:5px 10px;margin:0;font-size:13px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ddd;border-radius:3px;}
.dropdown-menu li{list-style:none!important;margin:0!important;padding-left:0!important;line-height:1.8em!important}
.dropdown-menu li a{color:#222!important;font-weight:400;display:block}
.dropdown-menu li a:hover{color:#4aa3df}
ul#share-menu{margin:10px 0;padding:5px 15px}
/* CSS Google Url */
.shorturl{position:relative;display:inline-block;text-decoration:none!important;margin:0 5px 5px 0;font-weight:400;border-radius:2px;color:#fff;text-shadow:none;opacity:1;transition:all .3s}
.shorturl a.url{background:#8798a1;display:inline-block;margin:0;font-weight:400;border-radius:2px;color:#fff;text-shadow:none;padding:6px 16px;opacity:1;transition:all .3s}
.shorturl a.url i{font-family:fontawesome;font-weight:normal}
.shorturl a.url:hover{color:#fff;opacity:.9}
.shorturl a.url:active{box-shadow:inset 0 1px 0 rgba(0,0,0,.16)}
/* Arlina Shortcodes */
.button{list-style:none;text-align:center;width:95%;margin:10px;padding:2px;font-size:14px;clear:both;}
.button ul {margin:0;padding:0}
.post-body ul.button{background:#f3f3f3;list-style:none;text-align:center;margin:0 auto;padding:10px;font-size:14px;clear:both;z-index:2;width:100%;border-radius:5px;}
.button li{display:inline-block;margin:10px 5px;padding:0;list-style:none;width:47.8%}
.post-body ul.button a.demo,.post-body ul.button a.download{position:relative;display:block;background:#e74c3c;max-width:100%;padding:14px;color:#fff;font-weight:700;font-size:1.1rem;text-align:center;text-transform:uppercase;letter-spacing:0.5px;margin:auto;border-radius:5px;overflow:hidden}
.post-body ul.button a.demo{background:#2980b9}.post-body ul.button a.demo:hover{background:#9b59b6;color:#fff}
.post-body ul.button a.download{background:#2ecc71}.post-body ul.button a.download:hover{background:#27ae60;color:#fff}
.first-letter{float:left;color:#f77c6a;font-size:75px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px;font-family:Georgia}
.alert-message{position:relative;display:block;background-color:#f7f8fa;padding:20px;margin:20px 0;color:#39484d;}
.alert-message p{margin:0!important;padding:0;line-height:20px;font-size:13px;color:#39484d}
.alert-message span{font-size:14px!important}
.alert-message i{font-size:20px;text-align:left;display:inline-block;position:absolute;right:0;top:0;padding:20px;opacity:0.8;}
.alert-message.success{background-color:#00acd6;color:#fff}.alert-message.alert{background-color:#0073b7;color:#fff}.alert-message.warning{background-color:#efa666;color:#fff}.alert-message.error{background-color:#f56c7e;color:#fff}
.alert-message.success a,.alert-message.success span,.alert-message.alert a,.alert-message.alert span,.alert-message.warning a,.alert-message.warning span,.alert-message.error a,.alert-message.error span{color:#fff}
#flippy{text-align:center;margin:auto;display:inline}
#flippy button{display:block;background:#e74c3c;width:100%;max-width:100%;padding:14px;cursor:pointer;color:#fff;font-weight:700;font-size:16px;text-align:center;border:0;text-transform:uppercase;letter-spacing:0.5px;margin:auto;border-radius:3px;transition:all .3s}
#flippy button:hover, #flippy button:focus {background:#ecf0f1;outline:none;color:#bdc3c7;}
#flippanel {padding:20px;display:none;text-align:left;background:#ecf0f1;margin:10px 0 0 0;}
#flippanel img {background:#e6eaeb;margin:10px auto;}
.bagitiga {-webkit-column-count:3;-moz-column-count:3;column-count:3;}
.bagitiga img{-webkit-backface-visibility:hidden;margin-bottom:20px;max-width:100%;}
#wrap{margin:20px auto;text-align:center}
.btn{background:#7fa4ed;padding:8px 12px;color:#fff;font-weight:700;font-size:14px;text-align:center;text-transform:uppercase;letter-spacing:0.5px;border-radius:4px;transition:all .3s}
.btn:hover,.btn:active,.btn.down:hover,.btn.down:active{background:#41598B}
.post-body a:visited.btn,.post-body a:visited.btn.down,.post-body a:link.btn,.post-body a.btn.down,.post-body a.btn:hover,.post-body a.btn:active,.post-body a.btn.down:hover,.post-body a.btn.down:active{color:#fff}
.btn i{margin:0}
.btn.down.anima{-webkit-animation:anim 2s ease-in infinite;animation:anim 2s ease-in infinite}
.videoyoutube{text-align:center;margin:auto;width:100%;}.video-responsive{position:relative;padding-bottom:56.25%;height:0;overflow:hidden;}.video-responsive iframe{position:absolute;top:0;left:0;width:100%;height:100%;border:0}
blockquote#customize{background:#f8f8f8;border:1px solid #e3e3e3;color:#222;padding:10px 15px 15px 15px}
blockquote#customize ul.button a.download{background:#97b28e;}blockquote#customize ul.button a.download:hover{background:#151515;border-color:#111;}
blockquote#customize:before,#related-summary .news-text,.loading-shorturl,#share-menu{display:none}
/* CSS Syntax Highlighter */
pre{-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;padding:0;margin:.5em auto;white-space:pre;word-wrap:break-word;overflow:auto;background-color:#443e50;position:relative;padding-top:33px;width:100%;-moz-tab-size:2;-o-tab-size:2;tab-size:2;word-break:normal;-webkit-user-select:text;-khtml-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;border-radius:3px;}
pre::-webkit-scrollbar,pre::-moz-scrollbar,pre code::-webkit-scrollbar,pre code::-moz-scrollbar,code::-webkit-scrollbar,code::-moz-scrollbar {display:none;}
pre::before{font-size:15px;font-weight:700;content:attr(title);position:absolute;top:0;padding:9px 0;left:0;right:0;color:#79798d;display:block;margin:0;text-indent:15px}
pre:after{display:inline-block;content:&quot;\f121&quot;;font-family:fontAwesome;font-style:normal;font-weight:normal;font-size:18px;color:#79798d;top:0;right:0;padding:9px 14px;position:absolute}
pre code{display:block;background:none;border:none;color:#bec3ce;padding:25px 20px 20px 20px;font-family:&#39;Source Code Pro&#39;,Menlo,Consolas,Monaco,monospace;font-size:.83rem;white-space:pre;overflow:auto}
code .token.important {font-weight:bold;}
code .token.entity {cursor:help;}
pre mark,code mark,pre code mark {background-color:#3498db!important;color:#fff!important;padding:2px;margin:0 2px;border-radius:2px;}
pre[data-codetype=&quot;CSSku&quot;]:before,pre[data-codetype=&quot;HTMLku&quot;]:before,
pre[data-codetype=&quot;JavaScriptku&quot;]:before,pre[data-codetype=&quot;JQueryku&quot;]:before{background-color:#fff;box-shadow:inset 0 0 0 1px #eee;}
/* CSS Multi Author Box */
.authorboxwrap{background:#fff;margin:20px auto 0 auto;padding:20px;overflow:hidden;border-top:4px solid #bdc3c7;}
.avatar-container{float:left;padding:10px;margin:0 20px 0 0;background:rgba(0,0,0,0.07);border-radius:100%}
.avatar-container img{width:90px;height:auto;max-width:100%!important;border-radius:100%;transition:all .3s;}
.avatar-container img:hover{transform:rotate(-15deg)}
.author_description_container h4{font-size:18px;display:block;margin:0;margin-bottom:2px}
.author_description_container h4 a{color:#333}
.author_description_container p{margin:0;color:#333;font-size:14px;margin-bottom:8px;line-height:25px;font-weight:400}
.social-links li{list-style:none!important;float:left}
.social-links a{border-bottom:none}
.social-links a:after,.social-links a:before{content:none!important}
.social-links li a{background:rgba(0,0,0,0.5);color:#fff;font-size:13px;text-align:center;display:inline-block;padding:0;margin:0 10px 0 0;width:30px;height:30px;line-height:30px;border-radius:100%}
.social-links li:nth-child(1) a{background:#516ca4;}
.social-links li:nth-child(2) a{background:#00c3f3;}
.social-links li:nth-child(3) a{background:#f20000;}
.social-links li a:hover{opacity:.9;color:#fff}
/* CSS Item Responsive */
@media only screen and (max-width:960px){
.bagitiga{-webkit-column-count:2;-moz-column-count:2;column-count:2;}}
@media only screen and (max-width:640px){
h1.post-title.entry-title,h2.post-title.entry-title{font-size:16px;}
#related-post h4{margin:0 0 5px;border-bottom:1px solid rgba(0,0,0,0.12)}
ul#related-summary li{float:left;list-style:none;overflow:hidden;width:50%;padding:10px 0;height:160px;margin:0}
ul#related-summary li a.relinkjdulx{font-size:12px;font-weight:400;padding:5px 5px 5px 4px}
ul#related-summary li .overlaytext{float:left;display:inline-block;font-size:12px;font-weight:700;line-height:normal;overflow:hidden;padding:0}
ul#related-summary li .overlayb{display:inline-block;float:left;height:auto;margin:0 4px}
ul#related-summary li img{height:auto;}
.shorturl {display:none;}
.bagitiga{-webkit-column-count:1;-moz-column-count:1;column-count:1;}}
@media screen and (max-width:603px){
.halaman {border-top:1px solid rgba(0,0,0,0.1);}
.halaman-kanan,.halaman-kiri{width:100%;padding:10px 0;height:auto}
.halaman-kanan{background:#f14b4b;color:#fff}
.halaman-kiri{background:#f0f0f0;}
.halaman-kanan a{color:#fff}
.isihalaman-kiri{margin-left:40px!important}
.isihalaman-kanan{margin-right:40px!important}
.panahkanan,.panahkiri{margin-top:-6px}
.avatar-container{display:none}}
